<div class="container">
  <h1 class="text-center">Your Favorite Pokemon</h1>

  <% pokemon.forEach(function(p) { %>
  <div class="well">

    <h2><%= p.name %></h2>
    <form method="POST" action="/pokemon">
      <input hidden type="text" name="name" value="<%= p.name %>">
    </form>
    <button class="btn btn-primary" type="submit"><a href="/pokemon/<%= p.name %>">See Details</a></button>
  </div>
  <% }); %>
</div>
